#my_view {
    border: 5px solid #f2f2f2;
    box-shadow: 5px 5px 5px #888;
    padding: 20px;
}
#my_view img {
  margin:5px;
  border:2px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}

#my_view .nav a {
  padding: 0 50px;
  background-color: #2f2f2f;
  border: 2px outset #f2f2f2;
}

#my_view .nav {
	top:50%;
	cursor: pointer;
}
#my_view .nav:hover a {
	background-color: #a22;
	border: 2px inset #2f2f2f;
}

#my_view .prev{ 
	float: left;
}

#my_view .next{
	float: right;
}

#my_view .flimages {
	clear:both;
}
#my_view .full_img {
    align-self: center;
    background: norepeat;
    height: 100%;
    padding: 5px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}
#my_view .full_img > span {
    display: none;
}